<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
   <ion-row>
     <ion-col>
       <img width="100%" src="https://media.routard.com/image/60/2/metz.1560602.jpg">
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
        <span>Etablit à Metz le 06/05/2021</span> <br> <br>
    </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
       <p>
         Interview de PORAYKO Logan (Créateur) : <br> <br>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit amet, vero molestiae, commodi sapiente quaerat reprehenderit mollitia deserunt eos placeat, fuga facere consectetur illo. Rem vitae eveniet ea repellendus totam!
       </p>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size="4" > 
       <ion-button color="secondary" style="width: 100%;">
        <ion-icon name="logo-twitter"></ion-icon>
        &nbsp; Twitter
       </ion-button>
     </ion-col>
     <ion-col size="4">
      <ion-button color="danger" style="width: 100%;">
        <ion-icon name="mail-outline"></ion-icon>
        &nbsp; Email
       </ion-button>
     </ion-col>
     <ion-col size="4">
      <ion-button style="width: 100%;">
        <ion-icon name="logo-linkedin"></ion-icon>
        &nbsp; In
       </ion-button>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
