<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/tab/robots"></ion-back-button>
    </ion-button>
    <ion-title [textContent]="robot.name"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button *ngIf="!modif" (click)="setModif()">Rendre Modifiable</ion-button>
<ion-button *ngIf="modif" (click)="setModif()">Rendre Non Modifiable</ion-button>
<ion-button *ngIf="modif" color="danger" (click)="suppr()">
  <ion-icon name="trash"></ion-icon>
</ion-button>
<div *ngIf="!modif">
  <ion-grid style="margin-bottom:50px">
    <ion-row class="ion-text-center">
      <img [src]="robot.image" class="image-s-1">
    </ion-row>
    <ion-row class="text-s-1">
      <ion-col size="6">
        Nom : <span [textContent]="robot.name"></span>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        Prix : <span [textContent]="robot.price + ' €'"></span>
      </ion-col>
    </ion-row>
  <ion-row class="ion-margin-top">
    Description : <br>
    <p [textContent]="robot.description"></p>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="6" class="ion-text-center border-grey bg-light">
      Type de service : <br>
      <span [textContent]="robot.serviceType"></span>
    </ion-col>
    <ion-col size="6" class="ion-text-center border-grey bg-light">
      Date de sortie : <br>
      <span [textContent]="robot.releaseDate"></span>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="6" class="ion-text-center border-grey bg-light">
      Créateur : <br>
      <span [textContent]="robot.creator"></span>
    </ion-col>
    <ion-col size="6" class="ion-text-center border-grey bg-light">
      Constructeur : <br>
      <span [textContent]="robot.constructorName"></span>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
<div  *ngIf="modif">
  <ion-grid style="margin-bottom:50px">
    <ion-row>
      <ion-col>
        <ion-label>Nom :</ion-label>
        <ion-item>
          <ion-input type="text" [(ngModel)]="robot.name" placeholder="Nom du robot"></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>Prix :</ion-label>
        <ion-item>
          <ion-input style="width: 80%;" [(ngModel)]="robot.price" type="number" [min]="0" placeholder="Prix"></ion-input> 
          <span>€</span>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Image : </ion-label>
        <ion-item>
          <ion-input (keyup)="setImage()" [(ngModel)]="robot.image"></ion-input>
          <ion-icon *ngIf="imageGood" style="color:rgb(89, 255, 47)" name="checkmark-circle-outline"></ion-icon>
          <ion-icon *ngIf="!imageGood" style="color:rgb(255, 54, 47)" name="close-circle-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Description : </ion-label>
        <ion-item style="height: 150px">
          <ion-textarea style="height: 150px" [(ngModel)]="robot.description"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Type de service :</ion-label>
        <ion-item>
         <ion-input type="text" [(ngModel)]="robot.serviceType"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>Date de sortie :</ion-label>
        <ion-item>
          <ion-input type="date" [(ngModel)]="robot.releaseDate"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Créateur :</ion-label>
        <ion-item>
         <ion-input type="text" [(ngModel)]="robot.creator"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-label>Constructeur :</ion-label>
        <ion-item>
         <ion-input type="text" [(ngModel)]="robot.constructorName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="full" shape="round" (click)="modification()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
