.text-s-1{
    font-size: 20px;
}

.image-s-1{
    width: 95%;
    height: 20%;
    margin: auto;
    display: block;
}

.border-grey{
    border: 2px solid rgb(129, 129, 129);
}

.bg-light{
    background-color: rgb(219, 219, 219);
    color: rgb(42, 42, 42);
}