/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-toolbar{
    --background: rgb(61, 61, 61);
}

ion-tab-bar{
    --background: rgb(61, 61, 61);
}

ion-title{
    --color:rgb(240, 240, 240);
}

ion-content{
    --color:rgb(240, 240, 240);
    --placeholder-color: rgb(240, 240, 240);
    --background:rgb(34, 34, 34);
}

ion-input{
    input{
        --placeholder-color: rgb(240, 240, 240);
    }
}

ion-textarea{
    textarea{
        --placeholder-color: rgb(240, 240, 240);
    }
}

ion-alert{
    --color:rgb(240, 240, 240);
}

ion-item{
    --background: rgb(53, 53, 53);
}

ion-card{
    --background: rgb(53, 53, 53);
}

ion-back-button{
    --color: white;
}

.sc-ion-input-md-h{
    color: white;
}

.sc-ion-textarea-md-h{
    color: white;
}

.alert-title.sc-ion-alert-md{
    color: white;
}
